<div class="menuEnlaces">
    <div>
        <a href="https://github.com/ULL-ESIT-GRADOII-PL/proyecto-equipo-com">Repositorio</a>
    </div>
    <div>
        <a href="/tests/index.html">Tests</a>
    </div>
    <div>
        <a href="https://campusvirtual.ull.es/1516/course/view.php?id=178">Campus Virtual (PL)</a>
    </div>
</div>

<div class="contenidoBody">
<header>
    <h1>Proyecto final. LP0</h1>
</header>


<table>
    <tr>
        <td>Entrada: </td>
        <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td> 
    
    </tr>
</table>

<div>
<button class="button" id ="conseguirArbol">Analizar:</button></button>
</div>

<span class="output" id="arbolFinal"></span>
</div>