<div class="contenidoBody">
<header>
    <h1>Proyecto final. LP0</h1>
</header>


<table>
    <tr>
        <td>Entrada: </td>
        <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td> 
    
    </tr>
</table>

<div>
<button class="button" id ="conseguirArbol">Analizar:</button></button>
</div>

<span class="output" id="arbolFinal"></span>
</div>