<div class="menuEnlaces">
    <div>
        <a href="https://github.com/alu0100825893/proyecto-equipo-com">Repositorio</a>
    </div>
    <div>
        <a href="/tests">Tests</a>
    </div>
    <div>
        <a href="https://campusvirtual.ull.es/1516/course/view.php?id=178">Campus Virtual (PL)</a>
    </div>
</div>