$font-stack: Helvetica, sans-serif;
$color-titulo: #0489B1;
$color-fondo: white;
$color-letra: black;
$color-tabla: black;
$borde-tabla: 1px;

// Configuración de menuEnlaces
$color-fondo-menuEnlaces: #202020;
$color-fondo-hover-menuEnlaces: #050505;
$color-letra-menuEnlaces: white;
$color-letra-hover-menuEnlaces: #40D0F0;
$alto-barra-menuEnlaces: 35px;
$ancho-boton-menuEnlaces: 40px;
$espaciadoVertical-boton-menuEnlaces: 8px;

h1 {
  color: $color-titulo;
  font-family: Arial;
}

header {
  margin: 0px 0px 20px;
}

.separador {
 // height: 150px;
  //display: inline-block;
}

/********************************************************************
* MENU PRINCIPAL
*********************************************************************/
// El container de enlaces superior en sí
.menuEnlaces{
    background-color: $color-fondo-menuEnlaces;
    width: 100%;
    text-align: left;
    height: $alto-barra-menuEnlaces;
    overflow: hidden;
}

// Todo componente dentro del container de menuEnlaces
.menuEnlaces div{
    background-color: $color-fondo-menuEnlaces;
    display: inline-block;
    padding: $espaciadoVertical-boton-menuEnlaces 0px;
    // Los enlaces de cada div
    a {
        font-family: Arial;
        color: $color-letra-menuEnlaces;
        text-decoration: none;
        font-weight: bold;
        padding: $espaciadoVertical-boton-menuEnlaces $ancho-boton-menuEnlaces;
    }
}
.menuEnlaces div:hover{
    background-color: $color-fondo-hover-menuEnlaces;
    // Cambiar el color del enlace cuando se haga hover
    a{
        color: $color-letra-hover-menuEnlaces;
        text-decoration: none;
    }
}

/********************************************************************
* CONTAINER BODY
*********************************************************************/
.contenidoBody {
  width: 100%;
  height: 100%;
  padding: 10px;
}

/***********************************************************************
* TABLA REDONDEADA
************************************************************************/
.tablaRedondeada {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  border-radius: 1em;
  background: #E6F8E0;
  padding: 20px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  width: 880px;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  font-size: 14px;
}

.columnaDerecha {
  position: absolute;
  padding: 20px;
  top: 50px;
  right: 20px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  border-radius: 0.2em;
  background: white;
}

div {
}

body {
  background-color: $color-fondo;
  color: $color-letra;
  font-family: $font-stack;
  padding: 0px;
  margin: 0px;
}

/*
table , th, td {
  @extend div;
   border: $borde-tabla solid $color-tabla;
}

#finaltable:hover td {
  background-color: green;
}

tr:nth-child(odd){
  background-color:black;
}

tr:nth-child(even) {
  background-color:blue;
}

tr.error       {
  background-color: red;
}
*/
#arbolFinal {
    white-space: pre;
}